<!DOCTYPE html>

<html>

  <head>

    <title>Eventualize.se</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>

		<div class="header">
			<h1><a href=""><img src="<%= image_path "logo-eventualize.png" %>" alt="Eventualize.se" /></a></h1>
		</div>

    <%= yield %>

    <%= render :partial => "layouts/social_plugins" %>
		
		<div class="footer">
			
			<ul class="misclinks">
				<li class="misclinks__item"><%= link_to "Termos de serviço", terms_path %>
			</ul>
			
		</div>

  </body>

</html>